.search_block {
    width: 54.5rem;
    height: 33.9375rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.20);
    margin-top: 60px;
    margin-left: 180px;
}

.input_block {
    float: left;
}

.form_input {
    text-align: left;
    margin-left: 2.75rem;
    padding-top: 1.81rem;
}

.label_search {
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: 0.03375rem;
}

.input_search {
    width: 15.125rem;
    height: 2.6875rem;
    border-radius: 0.3125rem;
    border: 1px solid #C7C7C7;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
    margin-top: 0.94rem;
}

.input_search::placeholder {
    text-align: center;
    color: #949494;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.02625rem;
    opacity: 0.4;
}

.checkbox_block {
    display: inline-block;
    text-align: left;
    margin-top: 2.25rem;
}

.form_checkbox {
    margin-bottom: 0.94rem;
}

.button_submit {
    width: 19.0625rem;
    height: 3.6875rem;
    flex-shrink: 0;
    border-radius: 0.3125rem;
    background: #5970FF;
    color: #FFF;
    font-size: 1.375rem;
    font-weight: 500;
    letter-spacing: 0.0275rem;
    margin-top: 6.5rem;
}

.required_field {
    text-align: right;
    margin-top: 0.94rem;
    margin-right: 10rem;
    color: #949494;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.02625rem;
}

@media screen and (min-width: 150px) and (max-width: 750px) {
    .search_block {
        width: 23.4375rem;
        height: 43rem;
        border-radius: 0.625rem;
        background: #FFF;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.20);
        margin-top: 0;
        margin-left: 0;
    }
    
    .input_block {
        float: none;
    }
    
    .form_input {
        margin-left: 0.88rem;
        padding-top: 1.88rem;
    }
    
    .label_search {
        letter-spacing: 0.0225rem;
    }
    
    .input_search {
        width: 20.9375rem;
        margin-top: 1.25rem;
    }
    
    .input_search::placeholder {
        letter-spacing: 0.0175rem;
    }
    
    .checkbox_block {
        display: none;
    }
    
    .button_submit {
        width: 20.9375rem;
        font-size: 1.25rem;
        letter-spacing: 0.025rem;
        margin-top: 2.5rem;
    }
    
    .required_field {
        text-align: left;
        margin-top: 0.63rem;
        margin-left: 0.88rem;
        margin-right: 0;
        font-size: 0.875rem;
        letter-spacing: 0.0175rem;
    }
    
}