.grid_wrapper {
    display: grid;
    min-height: 100vh;
    padding: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "info_about_search svg_docs"
    "search_form svg_elements"; 
}

.info_about_search { grid-area: info_about_search; }
.svg_docs { grid-area: svg_docs; }
.search_form { grid-area: search_form; }
.svg_elements { 
    grid-area: svg_elements; 
    position: relative;
    overflow: hidden;
}

.header_search {
    text-align: left;
    margin-left: 3.75rem;
    margin-bottom: 0;
    color: #000;
    font-family: "Ferry", Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 0.05rem;
}

.text_search {
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.0125rem;
    text-align: left;
    margin: 1.56rem 0 0 3.75rem;    
}

.document,
.folders {
    position: absolute;
}

.document {
    top: 225px;
    right: 441px;    
}

.folders {
    top: 243px;
    right: 104.39px;    
}

.rocket {
    position: absolute;
    right: -7.57px;
    bottom: 70.79px;
}
@media screen and (min-width: 150px) and (max-width: 750px) {
    .grid_wrapper {
        display: grid;
        padding: 0;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        "info_about_search"
        "svg_docs"
        "search_form" 
        "svg_elements"; 
    }
    
    .info_about_search { grid-area: info_about_search; }
    .svg_docs { grid-area: svg_docs; }
    .search_form { grid-area: search_form; }
    .svg_elements { grid-area: svg_elements; }
    
    .header_search {
        margin-left: 0.88rem;
        font-size: 1.75rem;
        letter-spacing: 0.0175rem;
    }
    
    .text_search {
        font-size: 1.125rem;
        letter-spacing: 0.0125rem;
        margin: 1.19rem 0 0 0.88rem;    
    }

    .folders {
        display: none;
    }

    .document {
        width: 58.24px;
        position: absolute;
        top: 210px;
        right: 25.76px;
    }
    
    .svg_elements {
        overflow: hidden;
    }

    .rocket {
        width: 100%;
        margin-left: 36px;
        margin-bottom: 24.72px;
        margin-top: 24px;
    }
}