.testDiv {
    float: right;
    margin-top: -1.3rem;
}

.auth_button {    
    height: 1.625rem;
    opacity: 0.4;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.00875rem;
    padding-right: 1.12rem;
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-color: rgba(2, 148, 145, .6);
    background: none;
    margin-right: 1.25rem;
}

.login_button {
    width: 4.0625rem;
    height: 1.625rem;
    margin-right: 3.75rem;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.00875rem;
    border: none;
    border-radius: 0.3125rem;
    background: #7CE3E1;
}

@media screen and (max-width: 750px) {
    .auth_button {
        display: none;
    }
    
    .login_button {
        display: block;
        width: 1.875rem;
        height: 1.5625rem;
        background: url("../media/main_page/mobile.svg/dropdown.svg"), no-repeat;
        border-radius: 0;
        font-size: 0;
        margin-top: -1.62rem;
        margin-right: 1.63rem;
    }
}