/* .carousel-block {
    margin-left: 5.87rem;
    margin-right: 5.87rem;
} */

.slick-slider {
  padding-left: 10rem !important;
  padding-right: 10rem;
}

/* .slick-list .slick-slide.slick-active {
  padding-left: 1rem;
} */

.slide-card {
  width: 100%;
}

@media screen and (min-width: 150px) and (max-width: 750px) {
  .slick-slider {
    padding-left: 0 !important;
    padding-right: 0;
  }
  .slide-card {
    width: 100%;
  }

.carousel-block {
    margin-right: 2.44rem;
}
}