.grid_wrapper {
    display: grid;
    min-height: 100vh;
    padding: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "company-definition searching-man"
    "carousel carousel"
    "svg-elements svg-elements" 
    "rates rates"; 
}

.company_definition { grid-area: company-definition; }
.searching_man { grid-area: searching-man; }
.carousel { grid-area: carousel; }
.svg_elements { grid-area: svg-elements; }
.rates { grid-area: rates; }

.header_text {
    color: #000;
    font-family: "Ferry", Arial, Helvetica, sans-serif;
    font-size: 2.8125rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.02813rem;
    text-align: left;
    margin-left: 3.75rem;
}

.text_about_company {
    color: #000;
    font-family: "Ferry", Arial, Helvetica, sans-serif;
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.0375rem;
    text-align: left;
    margin: 0 0 0 3.75rem;
}

.service_features {
    color: #000;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.0125rem;
    text-align: left;
    margin: 1rem 0 0 3.75rem;    
}

@media screen and (min-width: 150px) and (max-width: 750px) {
    .grid_wrapper {
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-gap: 1vw;
        grid-template-areas: 
            "company-definition" 
            "searching-man"
            "carousel"
            "svg-elements"
            "rates"
        }
    
    .company_definition { grid-area: company-definition; }
    .searching_man { grid-area: searching-man; }
    .carousel { grid-area: carousel; }
    .svg_elements { grid-area: svg-elements; }
    .rates { grid-area: rates; }

    .header_text,
    .text_about_company {
        font-size: 1.75rem;
        letter-spacing: 0.0175rem;
        margin-left: 0.88rem;
    }
    
    .service_features {
        font-size: 1.125rem;
        letter-spacing: 0.01125rem;
        margin: 1.19rem 0 0 0.88rem;    
    }

    .searcher {
        width: 347.18px;
    }

    .picture {
        height: 392.52px;
        margin-left: 14px;
    }
    .svg_elements {
        overflow: hidden;
        margin-top: 80px;
        margin-bottom: calc(80px - 23.24px);
    }
}
